.article{
    width: 50%;
    margin: 0 auto;
    padding: 50px 0 120px;
        &--title{
            @include fontStyle($primary, 3rem, 700, center)
        }
        &__content{
            margin-top: 80px;
            h1{
                @include fontStyle($titleColor, 2.5rem, 700);
                line-height: 2.5rem;
            }
            h2{
                @include fontStyle($titleColor, 2rem, 700);
                line-height: 2rem;
                margin: 30px 0;
                margin-top: 45px;
            }
            h3{
                @include fontStyle($titleColor, 1.7rem, 700);
                line-height: 1.7rem;
                margin: 25px 0;
                margin-top: 40px;
            }
            h4{
                @include fontStyle($titleColor, 1.5rem, 700);
                line-height: 1.5rem;
                margin: 20px 0;
                margin-top: 35px;
            }
            h5{
                @include fontStyle($titleColor, 1.2rem, 700);
                line-height: 1.2rem;
                margin: 20px 0;
                margin-top: 35px;
            }
            p{
                @include fontStyle($mainColor, 1.1rem, 400);
                letter-spacing: .3px;
                line-height: 1.4rem;
                margin: 20px 0;
            }
            img{
                display: block;
            }
            a{
                text-decoration: underline;
            }
            pre{

                font-family: monospace;
                white-space: pre;
                margin: 1em 0;
            }
            em{
                font-style: italic;
            }
            blockquote {

                background: #f9f9f9;
                border-left: 3px solid $secondaryColor;
                margin: 3em 5px;
                padding: 0.1em 10px;
                quotes: "\201C""\201D""\2018""\2019";
                }
                
                blockquote p {
                display: block;
                @include fontStyle(#000, 1rem, 400);
                }
            table {
                margin: 10px 0;                
                    *{
                        border: 1px dashed $mainColor;
                    }
                  
            }
            ul, ol{
                margin: 10px 20px;
            }
        }
        &--link{
            display: block;
            width: 100%;
            margin-top: 50px;
            text-decoration: underline;
            @include fontStyle($titleColor, 1.2rem, 400, right);
        }
}
@media screen and (max-width: $bigLaptop) {
    .article{
        width: 60%;
    }
}
@media screen and (max-width: $laptop) {
    .article{
        width: 80%;
    }
}
@media screen and (max-width: $mobile) {
    .article{
        width: 90%;
    }
}
@media screen and (max-width: $phone) {
    .article{
        padding: 50px 15px 120px 15px;
        width: 100%;
    }
}