.posts_list{
    padding: 10px 50px;
        &__single{
            width: 40%;
            margin-bottom: 90px;
                &--title{
                    @include fontStyle($titleColor, 2rem, 400);
                    margin: 20px 0;
                    font-family: 'Montserrat', sans-serif;
                }
                &--shortDescription{
                    margin: 25px 0;
                }
                &--button{
                    @include fontStyle($titleColor, 1.3rem, 400);
                }
                &:last-child{
                    margin-bottom: 30px;
                }
        }
}

@media screen and (max-width: $laptop) {
    .posts_list{
        &__single{
            width: 55%;
        }
    }
}
@media screen and (max-width: $mobile) {
    .posts_list{
        &__single{
            width: 85%;
        }
    }
}
@media screen and (max-width: $phone) {
    .posts_list{
        padding: 10px 20px;
        &__single{
            width: 95%;
        }
    }
}