.posts_list{
    width: 75%;
    margin-left: 50px;
    margin-top: 50px;
        &__single{
            width: 40%;
            margin-bottom: 90px;
                &--title{
                    @include fontStyle($titleColor, 2rem, 400);
                    margin: 20px 0;
                    font-family: 'Montserrat', sans-serif;
                }
                &--shortDescription{
                    margin: 25px 0;
                }
                &--button{
                    @include fontStyle($titleColor, 1.3rem, 400);
                }
        }
    }
